@{
    ViewBag.Title = "CRM Application";
}

<h4>@ViewBag.Title</h4>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Customers", "Index", "Customers")
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>